{# Copyright (C) 2023 David Härdeman <david@hardeman.nu>
 # Copyright (C) 2023 DebOps <https://debops.org/>
 # SPDX-License-Identifier: GPL-3.0-only
 #}
#
# OpenSSL defaults for Kerberos user certificate requests
#
# {{ ansible_managed }}

[ req ]
default_md         = sha256
default_bits       = 4096
default_keyfile    = userkey.pem
prompt             = no
encrypt_key        = no
distinguished_name = req_dn
utf8               = yes
string_mask        = utf8only

[ req_dn ]
{% for rdn in admin_people_dn | reverse %}
{%   set parts = rdn.split('=', 1) %}
{%   if parts | length == 2 %}
{{     '{}.{}={}'.format(loop.index, parts[0] | upper, parts[1]) }}
{%   endif %}
{% endfor %}
{{ (admin_people_dn | length + 1) | string }}.UID=${ENV::CLIENT}
