{# Copyright (C) 2023 David Härdeman <david@hardeman.nu>
 # Copyright (C) 2023 DebOps <https://debops.org/>
 # SPDX-License-Identifier: GPL-3.0-only
 #}
{% from 'macros.j2' import parse_options_to_json %}
{% set domain_options = parse_options_to_json(item.options | d([])) | from_json %}
{{ domain_options | d([]) | to_json(indent=4) }}
